@media(max-width: 990px){
    .services .service-content{
        /* display: flex;
        flex-wrap: wrap; */
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 920px){
    .navbar ul{
        width: 100%;
    }

    .navbar .subnav {
        width: 65%;
    }
    
    .home .home-content .text-1{
        font-size: 1.5em;
    }
    .home .home-content .text-2{
        font-size: 3em;
        font-weight: bolder;
        margin-left: -0.1em;
    }
    .home .home-content .text-3{
        font-size: 2em;
    }

    .about{
        padding: 5em 0.8em;
    }
    .about .about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .about .about-content .left{
        width: 100%;
    }
    .about .about-content .right{
        width: 70%;
        margin-top: 2em;
    }
    .about .about-content .right .text{
        font-size: 1.3em;
    }

    .skills .skills-content{
        display: flex;
        flex-direction: column;
    }
    .skills .skills-content .column{
        width: 80%;
        margin-bottom: 2em;
    }
    .skill_image{
        display: none;
    }

    .contact .contact-content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .contact .contact-content .column{
        width: 80%;
    }
    .contact .contact-content .right{
        padding: 0.8em 0;
    }

}

@media(max-width: 780px){
    .menu-btn{
        display: block;
    }
    .navbar ul{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #000000f6;
        transform: translateX(-100%);
    }
    .navbar li a{
        color: white;
    }
    .navbar li a:hover{
        padding-bottom: .3em;
        border-bottom: 2px solid #fff;
    }
    /* .navbar li a::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 100%;
        height: 2px;
        background: #FF7F50;
        /* transform: translate(-25%); 
    } */
    .home .container{
        line-height: 4em;
        height: 50%;
        text-align: center;
    }
    
    .home .home-content .text-1{
        font-size: 1.3em;
    }
    .home .home-content .text-2{
        font-size: 2em;
        font-weight: bolder;
        margin-left: -0.2em;
    }
    .home .home-content .text-3{
        font-size: 1.3em;
    }
    .home .home-content .text-3 span{
        color: #FF7F50;
        font-weight: bolder;
    }
    /*.about .about-content .left{
        width: 70%;
    }*/
    .about .about-content .left img{
        width: 250px;
        height: 250px;
    }
    .about .about-content .right{
        width: 90%;
        margin-top: 2em;
    }
    .about .about-content .right .text{
        font-size: 1.1em;
    }

    .services .service-content{
        /* display: flex;
        flex-wrap: wrap; */
        grid-template-columns: repeat(1, 1fr);
    }

    .skills .skills-content .column{
        width: 95%;
    }

    .contact .contact-content .column{
        width: 100%;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .fields .name{
        margin-right: 0;
    }
    .contact .right form .fields .email{
        margin-left: 0;
    }


    .bg-fixed-1{
        grid-template-columns: repeat(1, 1fr);
        padding: 1em 2em;
    }
    .bg-fixed-1 .bg-text-1{
        font-size: 2em;
        margin-bottom: 0.5em;
    }
    .bg-fixed-1 .bg-text-2{
        font-size: 1.2em;
    }

    .contact .right .conf-msg{
        width: 90%;
    }
}

