.loader{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000514;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow: hidden;
    color: white;
}
.loader p{
    font-family: 'Lato', sans-serif;
}
.contain{
    width: 40px;
    margin: 1em;
}
.boxes{
    width: 15px;
    height: 15px;
    background-color: #0077ff;
    display: inline-block;
    animation: pulse 0.6s ease-in infinite alternate;
}
.box2, .box3{
    animation-delay: 0.6s;
}
@keyframes pulse{
    100%{
        opacity: 0;
    }
}
.disappear{
    animation: vanish 1s forwards;
}
@keyframes vanish {
    100%{
        opacity: 0;
        visibility: hidden;
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Titan One', cursive;
    font-family: 'Ubuntu', sans-serif;
}
.container{
    max-width: 1100px;
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
    outline: none;
    outline: none;
}
.scroll-up-btn{
    position: fixed;
    right: 30px;
    bottom: 10px;
    font-size: 1.5em;
    color: white;
    background: #FF7F50;
    border: 2px solid  #FF7F50;
    width: 1.3em;
    height: 1.2em;
    text-align: center;
    line-height: 1.1em;
    z-index: 99;
    border-radius: 7px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all .3s linear ;
}
.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 40px;
}
.scroll-up-btn:hover{
    background: none;
    color: #FF7F50;
}

/* Nav Bar Styling */
.navbar{
    /* background-color: #006AFF; */
    width: 100%;
    position: fixed;
    padding: 1.5em;
    z-index: 99;
    transition: all 0.3s ease-in;
}
.sticky{
    background-color: #000514;
    border-bottom: 5px solid #FF7F50;
    padding: 1.2em;
}

.navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.2s ease-in;
    outline: none;
}

.navbar ul{
    display: flex;
    justify-content: space-around;
    width: 45%;
    transition: all 0.5s ease; 
}
.navbar ul.active{
    transform: translateX(0);
}

.navbar li{
    list-style: none;
    font-weight: 400;
}
.navbar li a:hover{
    color: #FF7F50;
}
.navbar li a{
    position: relative;
    padding-bottom: 1em;
    transition: all .3s ease;
}
/* .navbar li a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 2px;
    background: #FF7F50;
    transform: translate(0); 
} */

.navbar .logo{
    font-size: 1.5em;
    font-weight: bold;
}
.navbar .logo span{
    color: #FF7F50;
}

/* Menu Button Styling */
.menu-btn{
    color: #ffffff;
    font-size: 1em;
    cursor: pointer;
    display: none;
    z-index: 99;
}
.menu-btn .bar{
    width: 21px;
    height: 2px;
    background-color: #ffffff;
    margin: .3em 0;
    transition: all .2s ease-in-out;
}
.menu-btn:hover .bar{
    margin: .2em 0;
}
.menu-btn .bar1{
    transition: all .2s ease;
}
.menu-btn .bar2{
    transition: all .2s ease;
}
.menu-btn .bar3{
    transition: all .2s ease;
}   

.bar1.close{
    transform: rotate(45deg) translateY(3px) ;
    width: 18px;
}
.bar2.close{
    display: none;
}
.bar3.close{
    transform: rotate(-45deg) translateY(-4px);
    width: 18px;
}


/* Home Section Styling */
.home{
    display: flex;
    background: url("../Images/Laptop_1.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    font-family: "Ubuntu", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #FFFFFF;
}

.home .container{
    line-height: 4em;
    width: 85%;
}

.home .home-content .text-1{
    font-size: 2em;
}
.home .home-content .text-2{
    font-size: 3.5em;
    font-weight: bolder;
    margin-left: -0.2em;
}
.home .home-content .text-3{
    font-size: 2.2em;
}
.home .home-content .text-3 span{
    color: #FF7F50;
    font-weight: bolder;
}
.home .home-content a{
    background: #FF7F50;
    font-size: 1em;
    padding: 0.5em;
    text-decoration: none;
    color: white;
    border-radius: 7px;
    font-weight: 500;
    border: 2px solid #FF7F50;
}
.home .home-content a:hover{
    background: none;
    color: #FF7F50;
}


/* About Styling */
.about{
    padding: 5em 2em;
    background: #C4C4C4;
    width: 100%;
}
.about .title{
    position: relative;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2em;
    padding-bottom: 0.7em;
}
.about .title::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 150px;
    height: 3px;
    background: #FF7F50;
    transform: translateX(-50%);
}
.about .title::after{
    content: "Who I Am";
    position: absolute;
    left: 50%;
    bottom: -7px;
    padding: 3px;
    font-size: 0.6em;
    font-family: 'Lato', sans-serif;
    background: #C4C4C4;
    transform: translateX(-50%);
}

.about .about-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.about .about-content .left{
    width: 45%;
    text-align: center;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 1.4em;
    font-weight: 550;
    margin-bottom: 0.5em;
    font-family: 'Lato', sans-serif;
}
.about .about-content .right .text span{
    color: #FF7F50;
}
.about .about-content .right p{
    text-align: justify;
    margin-bottom: 1em;
    font-family: 'Lato', sans-serif;
}
.about .about-content .right a{
    background: #FF7F50;
    font-size: 0.9em;
    padding: 0.4em;
    text-decoration: none;
    color: white;
    border-radius: 7px;
    font-weight: 500;
    border: 2px solid #FF7F50;
    transition: all 0.2s ease-in;
}
.about .about-content .right a:hover{
    transform: scale(1.05);
    cursor: pointer;
    color: #FF7F50;
    background: none;
}

.about .about-content .left img{
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 90% 60% 50% 60%;
}


/* Services Styling */

.services{
    padding: 5em 2em;
    background: #1D1D1D;
    width: 100%;
    color: white;
}
.services .title{
    position: relative;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2em;
    padding-bottom: 0.7em;
}
.services .title::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 150px;
    height: 3px;
    background: #FF7F50;
    transform: translateX(-50%);
}
.services .title::after{
    content: "What I Offer";
    position: absolute;
    left: 50%;
    bottom: -7px;
    padding: 3px;
    font-size: 0.6em;
    font-family: 'Lato', sans-serif;
    background: #1D1D1D;
    transform: translateX(-50%);
}

.services .service-content{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
}

.services .service-content .card{
    /* width: 32%; */
    text-align: center;
    background: #111111;
    padding: 2em;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    margin: 0.5em;
    box-shadow: 2px 2px 2px 2px #777777;
    height: 95%;
}

.services .service-content .card .box{
   line-height: 2.5em;
   transition: all 0.3s ease-in;
}
.services .service-content .card:hover{
    box-shadow: none;
   }
.services .service-content .card:hover .box{
  transform: scale(1.05);
 }
 .services .service-content .card:hover i{
    color: #FFFFFF;
   }

.services .service-content .card i{
    font-size: 1.5em;
    color: #FF7F50;
}
.services .service-content .card .text{
    font-size: 1.3em;
    font-weight: 600;
}
.services .service-content .card p{
    line-height: 1.5em;
    font-family: 'Lato', sans-serif;
}

/* Skills Styling */
.skills{
    padding: 5em 2em;
    background: #C4C4C4;
    width: 100%;
    /* color: white; */
}
.skills .title{
    position: relative;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2em;
    padding-bottom: 0.7em;
}
.skills .title::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 150px;
    height: 3px;
    background: #FF7F50;
    transform: translateX(-50%);
}
.skills .title::after{
    content: "What I Can Do";
    position: absolute;
    left: 50%;
    bottom: -7px;
    padding: 3px;
    font-size: 0.6em;
    font-family: 'Lato', sans-serif;
    background: #C4C4C4;
    transform: translateX(-50%);
}
.skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.skills .skills-content .column{
    width: 45%;
}
.skills .skills-content .left .text{
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 0.5em;
}
.skills .skills-content .left p{
    margin: 0.8em 0;
    text-align: justify;
    font-family: 'Lato', sans-serif;
}
.skills .skills-content .left a{
    background: #FF7F50;
    font-size: 0.9em;
    padding: 0.3em;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    font-weight: 500;
    border: 2px solid #FF7F50;
    transition: all 0.2s ease-in;
}
.skills .skills-content .left a:hover{
    transform: scale(1.05);
    cursor: pointer;
    color: #FF7F50;
    background: none;
}
.skills .skills-content .right span{
    font-weight: 500;
}
.skills .skills-content .right .bars{
    margin-bottom: 0.7em;
}
.skills .skills-content .right .bars .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
}
.skills .skills-content .right .line{
    width: 100%;
    position: relative;
    height: 5px;
    background: lightgray;
}
.skills .skills-content .right .line::before{
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #FF7F50;
    width: 50%;
}
.skills .skills-content .right .html::before{
    width: 90%;
}
.skills .skills-content .right .css::before{
    width: 80%;
}
.skills .skills-content .right .js::before{
    width: 65%;
}
.skills .skills-content .right .jquery::before{
    width: 70%;
}
.skills .skills-content .right .react::before{
    width: 70%;
}
.skills .skills-content .right .php::before{
    width: 50%;
}
.skills .skills-content .right .sql::before{
    width: 75%;
}

/*///////////////////////////*/
.bg-fixed-1 {
    background: url("../Images/Bg_1.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 50vh;
    font-family: "Titillium Web", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 2em 4em;
}

.bg-fixed-1::after {
    z-index: -1;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-fixed-1 .bg-text-1 {
    font-size: 2.5em;
    margin-bottom: 0.8em;
    font-family: 'Titan One', cursive;
}

.bg-fixed-1 .bg-text-2 {
    font-size: 1.5em;
    font-family: 'Ubuntu', sans-serif;
}

/* Teams Styling */
.teams{
    padding: 5em 2em;
    background: #1D1D1D;
    color: white; 
    width: 100%;
}
.teams .title{
    position: relative;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2em;
    padding-bottom: 0.7em;
}
.teams .title::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 150px;
    height: 3px;
    background: #FF7F50;
    transform: translateX(-50%);
}
.teams .title::after{
    content: "Who's With Me";
    position: absolute;
    left: 50%;
    bottom: -7px;
    padding: 3px;
    font-size: 0.6em;
    background: #1D1D1D;
    transform: translateX(-50%);
}
.teams .carousel{
    display: flex;
    overflow-x: hidden;
    border: 2px solid white;
}
.teams .carousel .card{
    background: #111111;
    border-radius: 5px;
    width: 50%;
    margin: 0.5em;
    padding: 1.5em;
    text-align: center;
}
.teams .carousel .card img{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 5px;
}
.teams .carousel .card .text{
    margin: 0.7em;
    font-weight: 600;
}
.teams .carousel .card p{
    margin: 0.7em;
}


/* Contact Styling */
.contact{
    padding: 5em 2em;
    background: #C4C4C4;
    width: 100%;
}
.contact .title{
    position: relative;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2em;
    padding-bottom: 0.7em;
}
.contact .title::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 150px;
    height: 3px;
    background: #FF7F50;
    transform: translateX(-50%);
}
.contact .title::after{
    content: "Get In Touch";
    position: absolute;
    left: 50%;
    bottom: -7px;
    padding: 3px;
    font-size: 0.6em;
    font-family: 'Lato', sans-serif;
    background: #C4C4C4;
    transform: translateX(-50%);
}
.contact .contact-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
}
.contact .contact-content .column{
    width: 100%;
}
.contact .contact-content .text{
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 0.8em;
}
.contact .contact-content .left{
    align-self: flex-start;
}
.contact .contact-content .left p{
    text-align: justify;
    font-family: 'Lato', sans-serif;
}
.contact .contact-content .left .icons{
    margin: 0.6em 0;
}
.contact .contact-content .row{
    display: flex;
    align-items: center;
    height: 4em;
}
.contact .contact-content .row .info{
    margin-left: 1.5em; 
}
.contact .contact-content .row i{
   font-size: 1.3em;
   color: #FF7F50;
}
.contact .contact-content .row .info .head{
    font-weight: 600;
    margin-bottom: 0.2em;
}
.contact .contact-content .row .info .sub-title{
    color: #333;
}
.contact .contact-content .row .info .sub-title a{
    color: #00327e;
    transition: all .1s ease-in-out;
}
.contact .contact-content .row .info .sub-title a:hover{
    color: #FF7F50;
}
.contact .contact-content .right{
    padding: 0 2em;
    align-self: flex-start;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .fields .field,
.contact .right form .field{
    margin-bottom: 1em;
    width: 100%;
    height: 2em;
}
.contact .right form .txtarea{
    height: 7em;
}
.contact .right form .fields .name{
    margin-right: 0.4em;
}
.contact .right form .fields .email{
    margin-left: 0.4em;
}
.contact .right form .field input,
.contact .right form textarea{
    height: 100%;
    width: 100%;
    background: #C4C4C4;
    border: 1.5px solid #777777;
    border-radius: 6px;
    outline: none;
    padding: 0 0.9em;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    transition: all .2s ease;
}
.contact .right form textarea{
    padding-top: 0.8em;
    resize: none;
}
.contact .right form .btn{
    border: 2px solid #FF7F50;
    background: #FF7F50;
    color: white;
    font-size: 1em;
    font-weight: 500;
    border-radius: 3px;
    transition: all .3s ease;
    cursor: pointer;
    padding: 0.3em;
}
.contact .right form .btn:hover{
    color: #FF7F50;
    background: none;
}
.contact .right .conf-msg.error{
    padding: 0.4em;
    margin: 1em auto;
    width: 80%;
    border-radius: 3px;
    background: #660000;
    color: white;
    text-align: center;
}
.contact .right .conf-msg.success{
    padding: 0.4em;
    margin: 1em auto;
    width: 80%;
    border-radius: 3px;
    background: #007222;
    color: white;
    text-align: center;
}

/* Footer Styling Section */
footer{
    background: #111;
    padding: 1.3em;
    color: white;
    width: 100%;
}
footer span .copy{
    color: #FF7F50;
}
footer .copyright{
    margin-top: 2em;
    text-align: center;
}
.f-column{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
footer .logoTitle a{
    font-size: 1.3em;
    font-weight: 500;
    color: #FF7F50;
}
footer .follow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .follow span{
    font-weight: 500;
    margin-bottom: 0.5em;
}
footer .follow .followIcon i{
    margin: 0 0.3em;
    color: white;
    transition: all .1s linear;
}
footer .follow .followIcon i:hover{
    color: #FF7F50;
}